*.bmp
*.jpg
*.tiff
*.eps
*.pdf
*.svg
*.bmp
*.psd
*.pdf
*.db
*.csv
*.xlsx
*.xls
*.out
*.docx
*.doc
*.tmp
*.zip
*.rar
*.caj
*.txt
*.pptx
*.RData
*.Rhistory
*.Rproj
/pilot_1_match_flex_trial_number/*
/pilot_2_match_fixed_trial_number/*
/Protocol/*
